.submit-margin{
    margin-top: 32px !important;
}

.btn-admin-landing {
    background-color: #2F55A6CC !important;
    box-shadow: 4px 4px 8px rgba(54, 47, 47, 0.45);
    color: #F7FBFF !important;
}

.btn-visitor-landing {
    background-color: #ED1B24CC !important;
    box-shadow: 4px 4px 8px rgba(54, 47, 47, 0.45);
    color: #F7FBFF !important;
}

.btn-size {
    height: 55px;
    width: 120px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
}

.login-submit {
    height: 50px;
    width: 120px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
}

@media (min-width: 412px) {
    .btn-size {
        height: 50px;
        width: 140px !important;
        font-size: 18px !important;
        border-radius: 10px !important;
    }
}