.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* your original navbar look preserved */
.nav {
  width: 100%;
  height: 56px;
  border-radius: 4px !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  background-color: #FFFFFF !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-layout {
  margin-bottom: 7.6vh;
}

.other-layout {
  margin-bottom: 0px;
}

@media (min-width: 1024px) {
  .nav {
    max-width: 1024px;
  }
}

.icon-Container {
  height: 56px;
}
