.purpose_Input {
  min-height: 75px !important;
  resize: none;
}

.visitor input {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.visitor h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.formContainer {
    background-color: #F7FBFF;
    border: 1px solid #ccc;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .formContainer {
        padding-right: 32px;
        padding-left: 32px;
        height: 421px;
    }
}