.purpose_Input {
  min-height: 75px !important;
  resize: none;
}

.visitor input {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.visitor h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.formContainer {
    background-color: #F7FBFF;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.successPage_layout {
    height: 77vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successPage_secondaryLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .message {

} */

.message span {
    display: block;
    justify-self: center;
}

@media (min-width: 768px) {
    .message span {
      display: inline;
    }

    .message {
        font-size: 24px;
    }

    .formContainer {
        padding-right: 32px;
        padding-left: 32px;
        height: 421px;
    }
}