.purpose_Input {
  min-height: 75px !important;
  resize: none;
}

.visitor input {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.visitor h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.formContainer {
    background-color: #F7FBFF;
    /* row-gap: 16px; */
}

@media (min-width: 768px) {
  .formContainer {
    row-gap: 16px;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    row-gap: 18px;
  }
}

.submit-btn {
  max-width: 220px;
  width: 50%;
}