.login h2 {
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-bottom: 40px;
}

.formContainer {
    background-color: #F7FBFF;
    border: 1px solid #ccc;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .formContainer {
        padding-right: 150px;
        padding-left: 150px;
    }

    .login h2 {
        justify-self: center;
    }
}