@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  font-family: 'Poppins' !important;
  color: #495057 !important;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

/* ---------- GLOBAL PAGE LAYOUT ---------- */

.page-Design {
  min-height: 100vh;
  padding: 9.879253567508233vh 16px 3.951701427003293vh 16px;
  display: flex;
  flex-direction: column;
}

/* area where routes render */
.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  /* padding-top: 7.6vh; */
}

/* tablet container wrapper */
.page-container {
  width: 100%;
}

.border-container {
  border: none;
}

/* TABLET AND ABOVE */
@media (min-width: 768px) {
  .page-container {
    max-width: 820px;
    min-height: calc(100vh - 13.563117vh);
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 auto;
  }
}

/* ---------- BUTTON ---------- */

.btn-danger {
  color: #FFFFFF !important;
}

.dual-spinner {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.35em solid rgba(0,0,0,0.08);
  border-top-color: #2F55A6CC;
  border-bottom-color: #ED1B24CC;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  justify-self: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
