@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  font-family: 'Poppins' !important;
  color: #495057 !important;
}

body {
  background-color: #f8f8f8;
}
.page-Design {
  padding: 90px 16px 36px 16px;
  min-height: 800px;
}

/* .container-box {
  padding: 20px;
} */

button {
  border-radius: 4px !important;
}

.btn-danger {
  color: #FFFFFF !important;
}